[*.cs]

# Default severity for analyzer diagnostics with category 'Globalization'
dotnet_analyzer_diagnostic.category-Globalization.severity = suggestion

# CA2227: Collection properties should be read only
dotnet_diagnostic.CA2227.severity = suggestion

# S1075: URIs should not be hardcoded
dotnet_diagnostic.S1075.severity = none
